body{
    text-align: center;
    background-color: #bbd1db;
    font-family: Arial, sans-serif;
    color: #333;

}
h1{
    font-size: 60px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 2000px;

}
a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
a:hover{
    color: #3c83e7;
    font-size: 20px;

}
mark{
    background-color: #394144;
    color: #d9e6ea;
    padding: 5px;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0 ;

}
nav ul li {
    display: inline;
    margin-right: 20px;
}

th{
    background-color: #394144;
    color: #d9e6ea;
    bottom: 1px solid #1a2427;
}
td{
    background-color: #bfcfd6;
    padding: 5px;
    border-radius: 5px;
}