body{
    background-color: #00ffff;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: flex-start;justify-content: center;
}
/* توسيط صورة زر الانتقال وتحديد حجمها */
.center-img {
    display: flex;
      width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    transition: 0.3f;
}
.center-img img {
    max-width: 300px;
    width: 80vw;
    max-height: 25vh;
    height: auto;
    object-fit: contain;
}


a{
    text-decoration: none;
    color: #19645a;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s, font-size 0.3s;
}
a:hover{
    color: #233144;
    font-size: 35px;
}

img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

mark{
    background-color: #254a4c;
    color: #d9e6ea;
    padding: 5px;
    border-radius: 5px;
}